:root {
  --primary-color: #2dd5c3;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px     rgba(15, 143, 130, 0.8); 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Rounded';
  src: url(./_assets/fonts/Rounded.ttf);
}

@font-face {
  font-family: 'Modulus';
  src: url(./_assets/fonts/Modulus/Modulus.ttf);
}

.logo-desc {
  font-family: Modulus;
  font-weight: bolder;
  font-size: medium;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  cursor: pointer;
}

.logo-desc div:last-child {
  width: max-content;
  border-radius: 0.3em;
  background-color: var(--primary-color);  
  display: inline-block;
  padding: 0rem 0.2rem;
}

.nav-link {
  display: -webkit-box;
}

.cart-container{
  width: 60px;
  display: -webkit-box
}

.circle {
  height: 30px;
  width: 30px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.cart-item i{
  font-size: medium;
  position: relative;
    left: 16%;
    top: 10%;
}

.number-cart {
  position: relative;
  top: 25%;
  left: -45%;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #ffffff;
  font-weight: bold;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rating span {
  color: #ffc000;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 260px;
}

.product-info {
  padding: 1rem;
}

.img-large{
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.btn-primary:disabled {
  color: #fff;
  background-color: #b3d4d1;
  border-color: #0d6efd;
}

.small-container {
  max-width: 600px;
}