:root {
  --primary-color: 45, 215, 195;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  /* -webkit-box-shadow: inset 0 0 6px     rgba(15, 143, 130, 0.8);  */
  background: rgb(var(--primary-color));
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Rounded';
  src: url(./_assets/fonts/Rounded.ttf);
}

@font-face {
  font-family: 'Modulus';
  src: url(./_assets/fonts/Modulus/Modulus.ttf);
}

a {
  text-decoration: none;
}

.logo-desc {
  font-family: Modulus;
  font-weight: bolder;
  font-size: medium;
  display: flex;
  line-height: normal;
  flex-direction: column;
  color: #100901;
  cursor: pointer;
}

.logo-desc div:last-child {
  width: max-content;
  border-radius: 0.3em;
  background-color: rgb(var(--primary-color));
  display: inline-block;
  padding: 0.1rem 0.2rem;
}

.nav-link {
  display: -webkit-box;
}

.cart-container {
  width: 50px;
  display: -webkit-box;
}

.circle {
  height: 30px;
  width: 30px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.cart-item i {
  font-size: medium;
  position: relative;
  left: 16%;
  top: 10%;
}

.number-cart {
  position: relative;
  top: 25%;
  left: -45%;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

.btn-primary,
.btn-outline-primary {
  background-color: rgba(var(--primary-color), 0.9);
  border: none;
  color: #ffffff;
  font-weight: bold;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rating span {
  color: #ffc000;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 260px;
}

.product-info {
  padding: 1rem;
}

.cart-button {
  bottom: 9rem;
  right: 2rem;
}

.cart-button button {
  padding: 10px;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.btn-primary:disabled {
  color: #fff;
  background-color: #b3d4d1;
  border-color: #0d6efd;
}

.small-container {
  max-width: 600px;
}

.checkout-steps>div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps>div.active {
  border-bottom: 0.2rem solid rgb(var(--primary-color));
  color: rgb(var(--primary-color));
}

.rccs {
  width: 100% !important;
  max-width: 280px;
}

.rccs__card {
  width: 100% !important;
  max-width: 280px;
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}

.side-navbar {
  width: 240px;
  height: 100%;
  position: fixed;
  left: -300px;
  background-color: rgb(209 213 219);
  transition: .5s;
  z-index: 999;
}

.site-container {
  transition: 0.4s;
}

.active-cont {
  margin-left: 240px
}

.active-nav {
  left: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

ul>li {
  list-style: none;
}

/* TreeViewMenu */
.directory {
  background: #242322;
  font-family: monospace;
  font-size: 16px;
  color: white;
  user-select: none;
  padding: 20px;
  border-radius: 0.4em;
}

.directory .tree,
.directory .tree-node,
.directory .tree-node-group {
  list-style: none;
  margin: 0;
  padding: 0;
}

.directory .tree-branch-wrapper,
.directory .tree-node__leaf {
  outline: none;
  outline: none;
}

.directory .tree-node {
  cursor: pointer;
}

.directory .tree-node:hover {
  background: rgba(255, 255, 255, 0.1);
}

.directory .tree .tree-node--focused {
  background: rgba(255, 255, 255, 0.2);
}

.directory .tree .tree-node--selected {
  background: rgba(48, 107, 176);
}

.directory .tree-node__branch {
  display: block;
}

.directory .icon {
  vertical-align: middle;
  padding-right: 5px;
}

/* Fim TreeViewMenu */

@media (max-width: 992px) {
  #basic-navbar-nav {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important
  }

  .nav-link>span {
    display: block !important;
  }
}