:root {
  --primary-color: 45, 215, 195;
  --secondary-color: 2, 45, 73;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  /* -webkit-box-shadow: inset 0 0 6px     rgba(15, 143, 130, 0.8);  */
  background: rgb(var(--primary-color));
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Rounded';
  src: url(./_assets/fonts/Rounded.ttf);
}

@font-face {
  font-family: 'Modulus';
  src: url(./_assets/fonts/Modulus/Modulus.ttf);
}

a {
  text-decoration: none;
  color: rgb(var(--secondary-color));
}

.container > button:hover{
  color: #fff;
}

.boleto-container > div {
  border: 1px dashed #ccc;
  cursor: pointer;
  border-radius: 8px;
  padding: .5rem;
}

.boleto-container span {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgb(var(--primary-color));
  margin-left: 4px;
  padding: 1px 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.logo-desc {
  font-family: Modulus;
  font-weight: bolder;
  font-size: medium;
  display: flex;
  line-height: normal;
  flex-direction: column;
  color: #022d49;
  cursor: pointer;
}

.logo-desc div:last-child {
  width: max-content;
  border-radius: 0.3em;
  background-color: rgb(var(--primary-color));
  display: inline-block;
  padding: 0.1rem 0.2rem;
}

.nav-link {
  display: -webkit-box;
}

.nav-pills .nav-link.active {
  background-color: rgb(var(--secondary-color)) !important;
}

.search-area {
  width: fit-content !important;
}

.search-category {
  width: 0 !important;
}

.cart-container {
  width: 35px;
  display: -webkit-box;
}

.circle {
  height: 30px;
  width: 30px;
  border: 1px solid #ccc;
  border-radius: 50%;
  text-align: center;
}

.cart-item i {
  font-size: medium;
  position: relative;
  left: 16%;
  top: 10%;
}

.number-cart {
  position: relative;
  top: 25%;
  left: -45%;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

#spinner {
  background-color: rgb(var(--secondary-color), 0.2);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#spinner i {
  color: #022d49;
  font-size: 5rem;
}

.btn-primary,
.btn-outline-primary {
  background-color: rgba(var(--primary-color), 0.9);
  border: none;
  color: #ffffff;
  font-weight: bold;
}

.carousel-inner {
  border-radius: 0.4rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rating span {
  color: #ffc000;
  font-size: small;
}

.social-login button {
  font-size: 1.1rem;
  width: 18rem;
}

.social-login button:hover {
  background-color: #022d49;
}

.social-fb button {
  background-color: #1877f2;
}

.social-gg button {
  background-color: #eee;
  color: dimgray;
}

.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.social-media span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-media span::before,
.social-media span::after {
  content: "";
  display: flex;
  width: 1.5px;
  height: 100px;
  background: #ced4da;
  margin: 0 1rem;
  /* position: absolute; */
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 260px;
}

.product-info {
  padding: 1rem;
}

.product-price-desc {
  font-size: small;
}

.circle-picker span div {
  box-shadow: rgb(108, 108, 108) 0px 0px 5px;
  border-radius: 50%;
}

.cart-button {
  bottom: 9rem;
  right: 2rem;
  transition: .9s;
}

.button-card-product-mobile {
  position: fixed;
  z-index: 10;
  bottom: 0rem;
  left: 0;
  right: 0;
  display: grid;
  opacity: 1;
  margin: 0.6rem;
}

.button-card-product-mobile button {
  background-color: rgba(var(--primary-color));
  padding: .6rem;
  font-size: 20px;
}

.cart-button button {
  padding: 10px;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.payments-link .nav-link.active {
  background-color: rgb(var(--primary-color)) !important;
}

.btn:hover {
  background-color: #022d49;
}

.btn-primary:disabled {
  color: #fff;
  background-color: #b3d4d1;
  border-color: #0d6efd;
}

.small-container {
  max-width: 600px;
}

.middle-container {
  max-width: 860px;
}

.checkout-steps>div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps>div.active {
  border-bottom: 0.2rem solid rgb(var(--primary-color));
  color: rgb(var(--primary-color));
}

.rccs {
  width: 100% !important;
  max-width: 280px;
}

.rccs__card {
  width: 100% !important;
  max-width: 280px;
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}

.side-navbar {
  width: 240px;
  height: 100%;
  position: fixed;
  left: -300px;
  background-color: rgb(209 213 219);
  transition: .5s;
  z-index: 999;
}

.site-container {
  transition: 0.4s;
}

.active-cont {
  margin-left: 240px
}

.active-nav {
  left: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.table tbody tr:hover {
  background: #ddd;
  transition: .4s
}

.payments-icons {
  font-size: small;
  color: #a8a8a8;
}

/* Map */
.marker {
  background-image: url("https://cdn2.iconfinder.com/data/icons/social-media-and-payment/64/-47-32.png");
  top: 52.2%;
  left: 47.7%;
  width: 32px;
  height: 32px;
  transform: translate(50%, -50%);
  /* margin-top: -32px;
  margin-left: -32px;
  padding-top: 16px;
  padding-left: 16px; */
  z-index: 1000;
  position: absolute;
}

.full-box {
  height: 100vh;
  /* width: 50vw; */
  /* max-width: initial; */
}

.full-box header,
.full-box footer {
  display: none;
}

.full-box .container {
  height: 100vh;
  max-width: inherit;
  margin: 0;
  padding: 0;
}

.full-box .mt-3 {
  margin-top: 0 !important;
}

.search-area-map {
  left: 0;
  right: 0;
  z-index: 999;
}

.map-input-box {
  box-sizing: border-box;
  /* position: absolute; */
  left: 0;
  right: 0;
  margin: 2rem 0 0 0;
  width: 80%;
  height: 3rem;
  display: flex;
  z-index: 1000;
}

.map-input-box input {
  min-width: 40%;
  max-width: 98% !important;
  border-radius: .5rem 0 0 .5rem;
  border-right: 0;
  border: none;
  padding-left: 12px
}

.map-input-box button {
  border-radius: 0 .5rem .5rem 0;
  border-left: 0;
  opacity: 1;
}

.list-container-address {
  min-width: 40%;
  max-width: 98%;
}

.list-container-address div {
  color: rgb(var(--secondary-color));
  background-color: #fafafa;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  padding: 4px 4px;
}

.list-container-address div:hover {
  background-color: #ccc;
  transition: .4s;
}

.list-container-address > :first-child {
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem;
}

.list-container-address > :last-child {
  border-bottom-left-radius: .2rem;
  border-bottom-right-radius: .2rem;
  border-bottom: none;
}

.ol-map {
  /* min-width: 600px;
  min-height: 500px; */
  height: 100%;
  width: 100%;
}

.ol-control {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  padding: 2px;
}

.ol-full-screen {
  top: .5em;
  right: .5em;
}

/* End Map */

ul>li {
  list-style: none;
}

/* TreeViewMenu */
.directory {
  background: #f8f9fa;
  /* font-family: monospace; */
  font-size: 16px;
  color: #212529;
  user-select: none;
  padding: 20px;
  border-radius: 0.4em;
}

.directory .tree,
.directory .tree-node,
.directory .tree-node-group {
  list-style: none;
  margin: 0;
  padding: 0;
}

.directory .tree-branch-wrapper,
.directory .tree-node__leaf {
  outline: none;
  outline: none;
}

.directory .tree-node {
  cursor: pointer;
}

.directory .tree-node:hover {
  background: rgba(255, 255, 255, 0.1);
}

.directory .tree .tree-node--focused {
  background: rgba(255, 255, 255, 0.2);
}

.directory .tree .tree-node--selected {
  background: rgba(var(--primary-color));
  border-radius: 0.2em;
}

.directory .tree-node__branch {
  display: block;
}

.directory .icon {
  vertical-align: middle;
  padding-right: 5px;
}

/* Fim TreeViewMenu */

button.thumbnail {
  padding: 0;
}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fbc2eb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
}

.theme-store {
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.theme-store img {
  width: 100%;
}

.logo-seller {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-seller img {
  height: 100px;
}

.body-info-seller {
  display: flex;
}

.tab-seller .nav-link {
  color: #b9b9b9;
}

.tab-seller .nav-link.active {
  font-weight: bold;
}

.list-users-chat {
  max-height: 80vh;
  overflow-y: auto;
}

.list-users-chat .badge {
  height: 15px !important;
  width: 10px !important;
}

/* Pulse indicator chat Support */
.blob-green {
  background-color: green !important;
}

.blob-red {
  background-color: red !important;
}

.blob {
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  margin: 10px;
  height: 15px;
  width: 15px;
  transform: scale(1);
  animation: pulse-black 2s infinite;
}

.blob.blue {
  background: rgba(52, 172, 224, 1);
  box-shadow: 0 0 0 0 rgba(52, 172, 224, 1);
  animation: pulse-blue 2s infinite;
}

@keyframes pulse-blue {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
  }
}

/*End Pulse indicator chat Support */

/* Chatbox */
.selected {
  background-color: #ccc;
}

.message-logged {
  align-items: end;
  margin-top: .2rem;
}

.message-nlogged {
  align-items: start;
  margin-top: .2rem;
}

.support-message {
  min-height: 60vh;
  max-height: 60vh;
  /* max-width: 400px; */
  overflow-y: auto;
}

.chatbox {
  color: rgb(var(--primary-color));
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

.chatbox .card-body {
  min-height: 300px;
  max-height: 300px;
  max-width: 400px;
  overflow-y: auto;
}

.input-message>div {
  flex: 1;
  margin-right: 5px;
}

.card-images img {
  width: 4rem;
}

.card-images:hover {
  transition: .4s;
}

/* EndChatbox */

@media (max-width: 992px) {

  .list-container-address{
    min-width: 50%;
    max-width: 75%;
  }

  .chatbox {
    right: 0;
    bottom: 0.5rem;
  }

  .card-thumbnail {
    width: 6rem;
  }

  #seller-content {
    display: none;
  }

  .container-social {
    flex-direction: column;
    margin: 1.5rem 0;
  }

  .social-media {
    margin-bottom: 2rem;
    margin-right: 0rem !important;
  }

  .social-media span {
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .social-media span::before,
  .social-media span::after {
    width: 100px;
    height: 1.5px;
    /* background: #ced4da;
    margin: 0 1rem; */
    /* position: absolute; */
  }

  .logo-seller {
    height: 0;
    position: relative;
    top: -2rem;
    z-index: 100;
  }

  .logo-seller img {
    background-color: white;
  }

  #basic-navbar-nav {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important
  }

  .nav-link>span {
    display: block !important;
  }
}

/* Add card item */
.success-animation {
  /* margin: 50px auto; */
}

.checkmark {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  stroke-width: 6;
  stroke: rgb(var(--primary-color));
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px rgb(var(--primary-color));
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  position: relative;
  /* top: 5px; */
  /* right: 5px; */
  margin: 0 auto;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: rgb(var(--primary-color));
  fill: #fff;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;

}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {

  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px rgb(var(--primary-color));
  }
}

/* End add card item */

footer h5 {
  font-family: Modulus;
  font-weight: bolder;
}